.pageRootElem {
    margin: 5px auto;
    background: white;
    border-radius: 5px;
    padding: 5px;
    width: 80vw;

    -webkit-box-shadow: 3px 6px 14px -4px rgba(0,0,0,0.35);
    -moz-box-shadow: 3px 6px 14px -4px rgba(0,0,0,0.35);
    box-shadow: 3px 6px 14px -4px rgba(0,0,0,0.35);
}

.mainHeader {
    font-family: "Franklin Gothic", serif;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.headLogo {
    width: 10vw;
    min-width: 40px;
    height: 40px;
    margin: 4px;
}

.btn {
    border-radius: 5px;
    color: #322e3d;
    text-align: center;
    padding: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0,0,0,0);
    transition: box-shadow 0.3s ease-in-out;
    user-select: none;
}

.btn:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,.3);
}


#loginBTN {
    flex-grow: 1;
}

.headerTitle {

    flex-grow: 3;
}

body {
    background-image: url("/assets/img/background.jpg");
    object-fit: cover;
}